/** Fonts **/
$font-Cal: Calibri, sans-serif;
$font-Ar: Arial-nova, sans-serif;
$font-Seg: Segoe Ui, sans-serif;

/** Colors **/
$color-Darkest-Blue: rgb(0,9,15);
$color-leftMen-Dark: rgb(0,7,20);
$color-header-Dark: rgb(0,14,32);
$color-net-light-Blue: rgb(0,102,204);
$color-Yellow: rgb(255,255,0);

//** Media Queries **//
$screen-sml: 1360px;
$screen-med: 1600px;
$screen-lrg: 1920px;

//** Reusable fill **//
%full-screen{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
%full-div{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
//** Reusable Buttons **//
%btn-text{
  cursor: pointer;
  transition: all 0.25s linear;
  outline: none;
}
//** Reusable Input **//
%input-one{

}
//** Reusable Images **//
%brandingTop-img{
  position: absolute;
  top: 40px;
  width: 500px;
  height: 88px;
  left: calc(50% - 250px);
}



//*****************************************************************************************************//
/** Misc **/
//*****************************************************************************************************//
body{
  font-family: $font-Cal;
  background-color: rgba($color-Darkest-Blue, 1);
  overflow: hidden;
  z-index: 99991;
}
.bodyContent{
  overflow: hidden;
  opacity: 1;
}

/******* Fade In *********/
.fade-in.ng-enter {
  transition: all 0.3s linear;
  opacity: 0;
}
.fade-in.ng-enter.ng-enter-active {
  transition: all 0.3s linear;
  opacity: 1;
}
.fade-in.ng-leave {
  transition: all 0.3s linear;
  opacity: 1;
}
.fade-in.ng-leave.ng-leave-active {
  transition: all 0.3s linear;
  opacity: 0;
}
.fade-in{
  transition: all 0.3s linear;
  opacity: 1;
}

/******* Fade In Med *********/
.fade-in-med.ng-enter {
  transition: all 0.4s linear;
  opacity: 0;
}
.fade-in-med.ng-enter.ng-enter-active {
  transition: all 0.4s linear;
  opacity: 1;
}
.fade-in-med.ng-leave {
  transition: all 0.4s linear;
  opacity: 1;
}
.fade-in-med.ng-leave.ng-leave-active {
  transition: all 0.4s linear;
  opacity: 0;
}
.fade-in-med{
  transition: all 0.4s linear;
  opacity: 1;
}

/******* Slide UP *********/
.slide-up.ng-enter {
  transition: all 0.4s linear;
  top: 100vh;
}
.slide-up.ng-enter.ng-enter-active {
  transition: all 0.4s linear;
  top: 0;
}
.slide-up.ng-leave {
  transition: all 0.4s linear;
  top: 0;
}
.slide-up.ng-leave.ng-leave-active {
  transition: all 0.4s linear;
  top: -100vh;
}
.slide-up{
  transition: all 0.4s linear;
  top: 0;
}

/******* Slide Down *********/
.slide-up.ng-enter {
  transition: all 0.4s linear;
  top: -100vh;
}
.slide-up.ng-enter.ng-enter-active {
  transition: all 0.4s linear;
  top: 0;
}
.slide-up.ng-leave {
  transition: all 0.4s linear;
  top: 0;
}
.slide-up.ng-leave.ng-leave-active {
  transition: all 0.4s linear;
  top: 100vh;
}
.slide-up{
  transition: all 0.4s linear;
  top: 0;
}

/******************************************************************************************
*** Progress ***
******************************************************************************************/
.progressCircle{
  position: fixed;
  width: 80px;
  left: calc(50vw - 15px);
  top: calc(50vh - 15px);
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999999999;
}
.loadingOverlay.ng-leave{
  transition: all 0.3s linear;
  opacity: 1;
}
.loadingOverlay.ng-leave-active{
  transition: all 0.3s linear;
  opacity: 0;
}
.loadingOverlay{
  @extend %full-screen;
  background-color: rgba(0,0,0,0.8);
  transition: all 0.3s linear;
  opacity: 1;
  z-index: 999999;
}
md-progress-circular svg path
{
  stroke: rgba(0,255,0,1);
}
/******************************************************************************************
*** Page Content ***
******************************************************************************************/
.pageContainer{
  @media only screen and (max-width: $screen-sml){
    display: none;
  }
  @media only screen and (min-width: $screen-sml){
    display: block;
  }
  @extend %full-screen;
  background-color: transparent;
  transition:all ease-in 0.25s;
  z-index: 99992;
}
.cont{
  @extend %full-div;
  position: absolute;
  background-color: transparent;
  overflow: hidden;
}
/******************************************************************************************
*** Unsopported ***
******************************************************************************************/
.unsupport{
  @media only screen and (max-width: $screen-sml){
    display: block;
  }
  @media only screen and (min-width: $screen-sml){
    display: none;
  }
  @extend %full-screen;
  background-color: rgba($color-header-Dark, 0.8);
  text-align: center;
}
.unsupport .imgHead{
  @extend %brandingTop-img;
}
.unsupport .info{
  position: relative;
  font-family: $font-Seg;
  font-size: 20px;
  color: $color-net-light-Blue;
  margin-top: auto;
  margin-bottom: auto;
  top: 80%;
  font-weight: bold;
  align-content: center;
  align-self: center;
}

/***********************************************************************************************************
*** Login ***
************************************************************************************************************/
.logOverlay.ng-hide{
  opacity: 0;
}
.logOverlay.ng-hide-add,
.logOverlay.ng-hide-remove{
  transition: all 0.4s linear;
}
.logOverlay{
  @extend %full-screen;
  background-color: rgba(0,0,0,0.8);
  z-index: 99999;
}
.logAndReg.ng-hide{
  opacity: 0;
  top: -20vh;
}
.logAndReg.ng-hide-add,
.logAndReg.ng-hide-remove{
  transition: all 0.4s linear;
}
.logAndReg{
  position: absolute;
  height: 500px;
  width: 400px;
  top: 100px;
  left: calc(50vw - 200px);
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
  z-index: 999991;
  overflow: hidden;
}
.logAndReg .close{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  font-size: 15px;
  font-family: Segoe Ui, sans-serif;
  @extend %btn-text;
  z-index: 9999;
}
.logAndReg .close:hover{
  color: rgba(0,91,209,1);
}
.logAndReg .image{
  position: absolute;
  top: 30px;
  width: 200px;
  left: calc(50% - 100px);
  height: auto;
  z-index: 9999;
}
.logAndReg .header{
  position: absolute;
  top: 80px;
  left: 40px;
  color: #fff;
  font-size: 15px;
  cursor: default;
  z-index: 9999;
}
.logAndReg .logForm.ng-hide{
  left: -100%;
}
.logAndReg .logForm.ng-hide-add,
.logAndReg .logForm.ng-hide-remove{
  transition: all 0.25s linear;
}
.logAndReg .logForm{
  position: absolute;
  top: 20%;
  left: 40px;
  width: calc(100% - 80px);
  height: 70%;
  transition: all 0.25s linear;
}
.logAndReg .loginInputBar{
  position: relative;
  top: 30px;
  left: 0;
  background-color: #fff;
  border: 1px solid rgba(200,200,200,1);
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 0 0 0 0;
  z-index: 9999;
}
.logAndReg .loginInputBar input{
  font-size: 20px;
  position: relative;
  top: 10px;
  border: none;
}
.loginInputSep{
  height: 20px;
}
/***************************************************************************************************************/
.logErrorMsg{
  position: absolute;
  left: 0;
  bottom: 10px;
  color: Red;
  font-size: 11px;
  font-weight: bold;
  z-index: 9999;
}
.logErrorMsgOK{
  position: absolute;
  left: 0;
  bottom: 10px;
  color: Lime;
  font-size: 11px;
  font-weight: bold;
  z-index: 9999;
}
.underInput{
  position: relative;
  top: 10px;
  width: 100%;
}
.forgotPW{
  position: relative;
  left: 0;
  top: 30px;
  font-family: $font-Ar;
  color: rgba(0,91,209,1);
  font-weight: bold;
  font-size: 10px;
  z-index: 9999;
  @extend %btn-text;
}
.regSel{
  position: absolute;
  top: 170px;
  right: 0;
  height: auto;
  width: auto;
  z-index: 9999;
}
.regSel .regBut{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,91,209,1);
  @extend %btn-text;
  z-index: 9999;
}
.regSel .regTxt{
  position: relative;
  font-size: 12px;
  color: rgba(150,150,150,1);
  cursor: default;
  z-index: 9999;
}
.logBut{
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 50px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid rgba(0,91,209,1);
  border-radius: 5px;
  background-color: rgba(0,91,209,1);
  color: #fff;
  transition: all 0.2s linear;
  z-index: 9999;
}
.logBut:hover, .logBut:focus{
  border: 1px solid rgba(0,91,209,1);
  color: rgba(255,255,255,1);
  background-color: rgba(0,91,209,0.5);
  -webkit-box-shadow: 0 0 10px 5px rgba(0,91,209,0.5);
  -moz-box-shadow: 0 0 10px 5px rgba(0,91,209,0.5);
  box-shadow: 0 0 10px 5px rgba(0,91,209,0.5);
}
.logBut:disabled{
  background-color: rgba(0,91,209,0.2);
  border: 1px solid rgba(0,91,209,0.2);
  color: #555;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  z-index: 9999;
}
.logBut:disabled:hover{
  background-color: rgba(0,91,209,0.2);
  border: 1px solid rgba(0,91,209,0.2);
  color: #555;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 109, 181, 0);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 109, 181, 0);
  box-shadow: 0 0 10px 5px rgba(0, 109, 181, 0);
}
/************************** Input Styling ****************************************/
.logInput{
  margin-top: 0;
  letter-spacing: 2px;
  left: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
.loginInputBar md-input-container {
  position: absolute;
  margin-left: 0;
  color: rgba(0,98,189,1);
  border-bottom: 1px solid rgba(0,46,66,0);
  letter-spacing: 1px;
  font-size: 10px;
  width: 95%;
  height: 100%;
  z-index: 9999;
}
.loginInputBar md-input-container .md-input:focus{
  margin-left: 1px;
  color: rgba(0,98,189,1);
  border-bottom: 1px solid rgba(0,98,189,1);
  letter-spacing: 1px;
  width: 100%;
}
.logInput .flex-gt-sm {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: content-box;
  /*box-sizing: border-box;*/
}
/************************** Forgot Password ****************************************/
.logAndReg .logFormOne.ng-hide{
  left: 100%;
}
.logAndReg .logFormOne.ng-hide-add,
.logAndReg .logFormOne.ng-hide-remove{
  transition: all 0.25s linear;
}
.logAndReg .logFormOne{
  position: absolute;
  top: 20%;
  left: 40px;
  width: calc(100% - 80px);
  height: 70%;
  transition: all 0.25s linear;
}
.newInput{
  position: relative;
  top: 50px;
  left: -10px;
}

@import "indexMain";
@import "indexLogistics";