/** Fonts **/
$font-Cal: Calibri, sans-serif;
$font-Ar: Arial-nova, sans-serif;
$font-Seg: Segoe Ui, sans-serif;

/** Colors **/
$color-Darkest-Blue: rgb(0,9,15);
$color-leftMen-Dark: rgb(0,7,20);
$color-header-Dark: rgb(0,14,32);
$color-net-light-Blue: rgb(0,102,204);
$color-Yellow: rgb(255,255,0);

//** Media Queries **//
$screen-sml: 600px;
$screen-med: 720px;
$screen-lrg: 1080px;

//** Reusable fill **//
%full-screen{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
%full-div{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
//** Reusable Buttons **//
%btn-text{
  cursor: pointer;
  transition: all 0.25s linear;
  outline: none;
}
//** Reusable Input **//
%input-one{

}
//** Reusable Images **//
%brandingTopMobile-img{
  position: absolute;
  top: 40px;
  width: 600px;
  height: auto;
  left: calc(50% - 300px);
}
//*****************************************************************************************************//
/** Misc **/
//*****************************************************************************************************//

/******************************************************************************************
*** Unsopported ***
******************************************************************************************/
.unsupportMobile{
  @media screen and (orientation: landscape){
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  @media screen and (max-height: 599px){
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  @media screen and (max-width: 400px){
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  @media screen and (min-width: 401px) and (min-height: 600px) and (orientation: portrait){
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  background-color: rgba($color-header-Dark, 1);
  text-align: center;
  z-index: 9999999999999999999999999999;
}
.unsupportMobile .imgHead{
  @extend %brandingTopMobile-img;
}
.unsupportMobile .info{
  position: relative;
  font-family: $font-Seg;
  font-size: 20px;
  color: $color-net-light-Blue;
  margin-top: auto;
  margin-bottom: auto;
  top: 80%;
  font-weight: bold;
  align-content: center;
  align-self: center;
}
/******************************************************************************************
*** Progress ***
******************************************************************************************/
.progressCircleMobile{
  position: fixed;
  width: 80px;
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999999999;
}
/******************************************************************************************
*** Page Content ***
******************************************************************************************/
.pageContainerMobile{
  display: block;
  @extend %full-screen;
  background-color: transparent;
  transition:all ease-in 0.25s;
  z-index: 99992;
}
/***********************************************************************************************************
*** Login ***
************************************************************************************************************/
.logOverlay.ng-hide{
  opacity: 0;
}
.logOverlay.ng-hide-add,
.logOverlay.ng-hide-remove{
  transition: all 0.4s linear;
}
.logOverlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 1;
  transition: all 0.4s linear;
}
.logAndRegMobile.ng-hide{
  opacity: 0;
  top: -20vh;
}
.logAndRegMobile.ng-hide-add,
.logAndRegMobile.ng-hide-remove{
  transition: all 0.4s linear;
}
.logAndRegMobile{
  position: absolute;
  height: calc(100% - 600px);
  width: calc(100% - 300px);
  top: 300px;
  left: 150px;
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
  z-index: 999991;
  opacity: 1;
  transition: all 0.4s linear;
  overflow: hidden;
}
.logAndRegMobile .close{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  font-size: 30px;
  font-family: Segoe Ui, sans-serif;
  cursor: pointer;
  transition: all 0.25s linear;
  z-index: 9999;
  outline: none;
}
.logAndRegMobile .image{
  position: absolute;
  top: 30px;
  width: 60%;
  left: 20%;
  height: auto;
  z-index: 9999;
}
.logAndRegMobile .header{
  position: absolute;
  top: 80px;
  left: 40px;
  color: #fff;
  font-size: 15px;
  cursor: default;
  z-index: 9999;
}
.logAndRegMobile .logForm{
  position: absolute;
  top: 20%;
  left: 40px;
  width: calc(100% - 80px);
  height: 70%;
}
.logAndRegMobile .loginInputBar{
  position: relative;
  top: 40px;
  left: 0;
  background-color: #fff;
  border: 1px solid rgba(200,200,200,1);
  border-radius: 5px;
  height: 60px;
  width: 100%;
  padding: 0 0 0 0;
  z-index: 9999;
}
.logAndRegMobile .loginInputBar input{
  font-size: 30px;
  position: relative;
  top: 15px;
  border: none;
}
.loginInputSep{
  height: 30px;
}
/***************************************************************************************************************/
.logAndRegMobile .logErrorMsg{
  position: relative;
  left: 0;
  margin-top: 0;
  color: Red;
  font-size: 23px;
  font-weight: bold;
  z-index: 9999;
}
.logAndRegMobile .logErrorMsgOK{
  position: relative;
  left: 0;
  margin-top: 0;
  color: Lime;
  font-size: 23px;
  font-weight: bold;
  z-index: 9999;
}
.underInput{
  position: relative;
  top: 10px;
  width: 100%;
}
.logAndRegMobile .forgotPW{
  position: absolute;
  left: 0;
  top: 60px;
  /*font-family: Segoe Ui, sans-serif;*/
  font-family: Arial-nova, sans-serif;
  color: rgba(0,91,209,1);
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  z-index: 9999;
  opacity: 1;
}
.logAndRegMobile .regSel{
  position: absolute;
  margin-top: 200px;
  left: 0;
  height: auto;
  width: auto;
  z-index: 9999;
}
.logAndRegMobile .regSel .regBut{
  position: relative;
  font-size: 35px;
  font-weight: bold;
  color: rgba(0,91,209,1);
  transition: all 0.2s linear;
  cursor: pointer;
  z-index: 9999;
}
.logAndRegMobile .regSel .regTxt{
  position: relative;
  font-size: 35px;
  color: rgba(150,150,150,1);
  cursor: default;
  z-index: 9999;
}
.logAndRegMobile .logBut{
  position: relative;
  margin-top: 170px;
  left: 0;
  height: 70px;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  border: 1px solid rgba(0,91,209,1);
  border-radius: 5px;
  background-color: rgba(0,91,209,1);
  color: #fff;
  transition: all 0.2s linear;
  z-index: 9999;
}
.logAndRegMobile .logBut:hover, .logBut:focus{
  border: 1px solid rgba(0,91,209,1);
  color: rgba(255,255,255,1);
  background-color: rgba(0,91,209,0.5);
  -webkit-box-shadow: 0 0 10px 5px rgba(0,91,209,0.5);
  -moz-box-shadow: 0 0 10px 5px rgba(0,91,209,0.5);
  box-shadow: 0 0 10px 5px rgba(0,91,209,0.5);
}
.logAndRegMobile .logBut:disabled{
  background-color: rgba(0,91,209,0.2);
  border: 1px solid rgba(0,91,209,0.2);
  color: #555;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
  z-index: 9999;
}
.logAndRegMobile .logBut:disabled:hover{
  background-color: rgba(0,91,209,0.2);
  border: 1px solid rgba(0,91,209,0.2);
  color: #555;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 109, 181, 0);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 109, 181, 0);
  box-shadow: 0 0 10px 5px rgba(0, 109, 181, 0);
}
/************************** Input Styling ****************************************/
.logInput{
  margin-top: 0;
  letter-spacing: 2px;
  left: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
.loginInputBar md-input-container {
  position: absolute;
  margin-left: 0;
  color: rgba(0,98,189,1);
  border-bottom: 1px solid rgba(0,46,66,0);
  letter-spacing: 1px;
  font-size: 10px;
  width: 95%;
  height: 100%;
  z-index: 9999;
}
.loginInputBar md-input-container .md-input:focus{
  margin-left: 1px;
  color: rgba(0,98,189,1);
  border-bottom: 1px solid rgba(0,98,189,1);
  letter-spacing: 1px;
  width: 100%;
}
.logInput .flex-gt-sm {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: content-box;
  /*box-sizing: border-box;*/
}
.newInput{
  position: relative;
  top: 50px;
  left: -10px;
  font-size: 30px;
}




@import "indexMainMobile";
@import "indexLogisticsMobile";