<div class="mainBodyMobile" id="logisticsMob" ng-show="$root.indexReady">
    <!------------------------------------------------ Header -------------------------------------------------->
    <div class="headerBar">
        <div class="leftSide" layout="row">
            <div class="leftMen" ng-click="$root.togSideMenu('click')" ng-blur="closeLeftMen()">
                <ng-md-icon class="menuIcon" icon="{{headMenu}}" size="100"></ng-md-icon>
            </div>
            <img src="Images/logo.png" class="headIcon" ng-click="toMain()"/>
        </div>
        <div class="rightSide" ng-click="$root.loginRegister()">
            <ng-md-icon class="menuIcon" icon="dashboard" size="100"></ng-md-icon>
        </div>
    </div>
    <!------------------------------------------------ Left Menu -------------------------------------------------->
    <div class="menuLeftOpen" ng-show="showFullLeftMenu">
        <div class="options" layout="column">
            <div class="menuList" ng-repeat="option in menuOptionList">
                <div class="item" ng-class="{itemActive: $root.selectedPage === option.id && showFullLeftMenu}" ng-click="selectDispPage(option.id)" layout="row">
                    <font class="txt" ng-class="{txtActive: $root.selectedPage === option.id}" ng-if="showFullLeftMenu">{{option.title}}</font>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------ Right Menu -------------------------------------------------->
    <div ng-class="{profIconMain: showProfMenuIco, profIconMainHide: !showProfMenuIco}" ng-click="$root.togSideMenu('clickProf')">
        <ng-md-icon class="icon" icon="account_circle" size="120"></ng-md-icon>
        <img class="crp" ng-class="{crpNone: dispMiniImg === ''}" ng-src="{{dispMiniImg}}"/>
    </div>
    <div class="menuRightOpen" ng-show="showFullRightMenu">
        <!------------------------------------------------ Mini Login -------------------------------------------------->
        <div class="containerMain" layout="row">
            <div class="close" ng-click="$root.togSideMenu('clickProf')"><font class="txt">X</font></div>
            <form id="loginForm" name="form" ng-show="$root.mainTabDisp === 'miniLogin'" ng-submit="miniLogin()" role="form" class="quote">
                <font class="head" style="position:absolute;left: 0;top: 50px">Me:</font>
                <div class="imgHead" style="position: absolute;top: 200px">
                    <img src="Images/me.jpg" class="headIcon" style="width: auto;height: auto;max-width: 550px;border-radius: 500px" />
                </div>
            </form>
        </div>
    </div>
    <!------------------------------------------------ Main Page -------------------------------------------------->
    <div id="mainPage" class="mainPage">
        <div ng-class="{mainPageContAct: $root.curPage === 0, mainPageContTop: $root.curPage > 0}">
            <div class="med-overlay">
                <div class="phases" layout="row">
                    <!------------------------------------------------ Phase 1 -------------------------------------------------->
                    <div class="phase" ng-show="actPhase === 1 && !hidePhase">
                        <font class="title">Hello There</font>
                        <br><br><br><br><br><br>
                        <br><br><br><br><br><br>
                        <br><br><br><br><br><br>
                        <div class="EQN">
                            <table width="100%">
                                <tr><td width="40%" class="ttl txt">My name is:</td></tr>
                                <tr><td width="60%" class="data txt">Frederick John Chaffey</td></tr>
                                <tr><td style="height: 30px"></td></tr>
                                <tr><td width="40%" class="ttl txt">I reside at:</td></tr>
                                <tr><td width="60%" class="data txt">21 Pendoring Ave, Proteapark, Rustenburg</td></tr>
                                <tr><td style="height: 30px"></td></tr>
                                <tr><td width="40%" class="ttl txt">You can call me on:</td></tr>
                                <tr><td width="60%" class="data txt">0826174057</td></tr>
                                <tr><td style="height: 30px"></td></tr>
                                <tr><td width="40%" class="ttl txt">Or even Email me at:</td></tr>
                                <tr><td width="60%" class="data txt">chaffey007@gmail.com</td></tr>
                                <tr><td style="height: 50px"></td></tr>
                                <tr><td align="center" colspan="2" width="40%" class="ttl txt" style="font-size: 28px;bottom: 20px"><br>This is my online CV.<br>Feel free to peruse and contact me with any queries.</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------ About Me -------------------------------------------------->
        <div ng-class="{mainPageContAct: $root.curPage === 1, mainPageContTop: $root.curPage > 1, mainPageContBot: $root.curPage < 1}">
            <div class="aboutUs" ng-init="resetPageCounters()">
                <div class="overlay">
                    <div class="left" layout="column">
                        <div class="head"><font class="txt">More About Me</font></div>
                        <div class="info">
                            <font class="txt">{{AboutUsInfo}}</font>
                        </div>
                    </div>
                    <div class="right" layout="column">
                        <div class="row top">
                            <div class="block one" layout="row">
                                <font class="count">{{aboutOne}}</font>
                                <font class="plus">+</font>
                                <font class="txt">Hours Spent Developing Software</font>
                                <md-icon md-svg-src="Images/SVG/Customer.svg" class="ico"></md-icon>
                            </div>
                        </div>
                        <div class="row mid" layout="row">
                            <div class="block two" layout="column">
                                <font class="count">{{aboutTwo}} +</font>
                                <md-icon md-svg-src="Images/SVG/Global Countries.svg" class="ico"></md-icon>
                                <font class="txt">Different Projects</font>
                            </div>

                            <div layout="column" style="width: calc(50% - 5px)">
                                <div class="block three" layout="column">
                                    <font class="count">{{aboutThree}} +</font>
                                    <md-icon md-svg-src="Images/SVG/airplane-shape.svg" class="ico"></md-icon>
                                    <font class="txt">Different Coding Languages</font>
                                </div>
                                <div class="block four" layout="column">
                                    <font class="count">{{aboutFour}} +</font>
                                    <md-icon md-svg-src="Images/SVG/boat.svg" class="ico"></md-icon>
                                    <font class="txt">Different Platforms</font>
                                </div>
                            </div>
                        </div>
                        <div class="row bot" layout="row">
                            <div class="block five" layout="column">
                                <font class="count">{{aboutFive}} +</font>
                                <md-icon md-svg-src="Images/SVG/boxCircle.svg" class="ico"></md-icon>
                                <font class="txt">Satisfaction</font>
                            </div>
                            <div class="block five" layout="column">
                                <font class="count">{{aboutSix}} +</font>
                                <md-icon md-svg-src="Images/SVG/handshake.svg" class="ico"></md-icon>
                                <font class="txt">Work Ethic</font>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------ Goals Overview -------------------------------------------------->
        <div ng-class="{mainPageContAct: $root.curPage === 2, mainPageContTop: $root.curPage > 2, mainPageContBot: $root.curPage < 2}">
            <div class="techOver">
                <div class="overlay">
                    <div class="contain" layout="column">
                        <div class="div" layout="row">
                            <div layout="column" style="width: 40%; height: 100%">
                                <div class="img one"></div>
                            </div>
                            <div layout="column" style="width: 60%">
                                <font class="ttl">{{techTtlOne}}</font>
                                <font class="txt">{{techTxtOne}}</font>
                            </div>
                        </div>
                        <div class="div" layout="row">
                            <div layout="column" style="width: 40%; height: 100%">
                                <div class="img two"></div>
                            </div>
                            <div layout="column" style="width: 60%">
                                <font class="ttl">{{techTtlTwo}}</font>
                                <font class="txt">{{techTxtTwo}}</font>
                            </div>
                        </div>
                        <div class="div" layout="row">
                            <div layout="column" style="width: 40%; height: 100%">
                                <div class="img three"></div>
                            </div>
                            <div layout="column" style="width: 60%">
                                <font class="ttl">{{techTtlThree}}</font>
                                <font class="txt">{{techTxtThree}}</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------ API -------------------------------------------------->
        <div ng-class="{mainPageContAct: $root.curPage === 3, mainPageContTop: $root.curPage > 3, mainPageContBot: $root.curPage < 3}">
            <div class="overlayEnq">
                <div class="contactForm" layout="column" ng-if="!showEnqStatus">
                    <font class="headerTxt">My Public GitHub</font>
                    <br><br><br><br>
                    <br><br><br><br>
                    <br><br><br><br>
                    <div class="desc">
                        <font class="descript">Here i use the GitHub API to display the online repository for </font>
                        <font class="descriptSpec">chaffey007</font>
                        <font class="descript">, my online account.</font>
                    </div>
                    <div layout="column">
                        <div ng-show="userNotFound">
                            <h2 style="font-size: 30px; color: rgba(100,100,100,0.9);text-align: center;margin-top: 100px">No User Info Found</h2>
                        </div>
                        <div ng-show="Gitloaded">
                            <h2 style="font-size: 30px; color: rgba(100,100,100,0.9);text-align: center;"> {{git_user.name}}
                                <span class="smallname">(@<a href="{{git_user.html_url}}" target="_blank"> {{git_user.login}} </a>)</span>
                            </h2>

                            <div class="ghcontent desc">
                                <div class="avi">
                                    <a href="{{ git_user.html_url }}" target="_blank">
                                        <img src="{{ git_user.avatar_url }}" width="500" height="500" alt="{{ git_user.login }}" style="position:relative;border-radius: 500px;left: calc(50% - 250px)"></a>
                                </div>
                                <div style="position: absolute; top: 0">
                                    <font class="descript">Followers: </font>
                                    <font class="descriptSpec">{{ git_user.followers }}</font>
                                    <br>
                                    <font class="descript">Following: </font>
                                    <font class="descriptSpec">{{ git_user.following }}</font>
                                    <br>
                                    <font class="descript">Repos: </font>
                                    <font class="descriptSpec">{{ git_user.public_repos }}</font>
                                </div>
                            </div>

                            <div class="repolist clearfix" style="">
                                <font ng-hide="reposFound"  class="headerTxt">No repos!</font>

                                <div ng-show="reposFound">
                                    <font  class="headerTxt">Repos List:</font>
                                    <ul ng-repeat="repo in repos">
                                        <li><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!------------------------------------------------ Footer -------------------------------------------------->
        <div ng-class="{footer: $root.curPage < 4, fullFooter: $root.curPage === 4}">
            <div id="smallFoot" ng-show="$root.curPage !== 4">
                <div class="border"></div>
                <div class="txt"  ng-show="$root.dispCurPageTitle">{{menuOptionList[$root.curPage].title}}</div>
            </div>
            <div id="bigFoot" ng-show="$root.curPage === 4">
                <div class="content">
                    <div class="top" layout="column">
                        <div class="left" layout="row">
                            <div class="list bord" layout="column" style="width: 35%">
                                <div class="item" layout="row">
                                    <font class="txts">Tel:</font>
                                </div>
                                <div class="item" layout="row">
                                    <font class="txts">Email:</font>
                                </div>
                                <div class="item" layout="row">
                                    <font class="txts">LinkedIn:</font>
                                </div>
                            </div>
                            <div class="list" layout="column" style="width: 65%">
                                <div class="item">
                                    <font class="mail">0826174057</font>
                                </div>
                                <div class="item">
                                    <font class="mail">chaffey007@gmail.com</font>
                                </div>
                                <div class="item">
                                    <font class="mail">https://www.linkedin.com/in/fred-chaffey-516b82138/</font>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="toTop" ng-click="selectDispPage(0)">
                                <ng-md-icon class="icon" icon="keyboard_arrow_up" size="60"></ng-md-icon>
                                <font class="toptxt">Back To Top</font>
                            </div>
                            <a href="cv.pdf" target="_blank" title="Download PDF Version"><img src="Images/logo.png" alt="Download PDF" border="0" class="footImg" style="margin:auto; top: 20%;left: calc(50% - 250px);width: 500px;height: 450px"/></a>
                        </div>

                    </div>
                    <div class="bot">
                        <font class="ttl">Created by FJ Chaffey.</font>
                        <div class="right" layout="row">
                            <font class="btn" ng-click="showTerms = true">Terms & Conditions</font>
                            <!--<font class="btn bord">Payment Policy</font>-->
                        </div>
                    </div>
                    <div class="terms" ng-show="showTerms === true">
                        <font class="close" style="margin-top: 150px" ng-click="showTerms = false">Close</font>
                        <div class="cont" style="margin-top: 150px">
                            <font class="info">{{terms}}</font>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>