<div class="indexMainMobile" ng-cloak>
    <div class="body">
        <div class="selections" layout="row">
            <div class="opt" ng-click="toLogistics()" layout="column">
                <div class="txtCont" layout="row">
                    <font class="txtOne">Welcome to</font><font class="txt">My Online CV</font>
                </div>
                <img src="Images/logo.png" class="" style="margin:auto;width:auto;height:auto;max-width:400px;" />
                <button class="continue">Continue</button>
            </div>
        </div>
    </div>
</div>