<div class="mainBody" ng-if="$root.indexReady" > <!-- showLogPop -->
    <!------------------------------------------------ Header -------------------------------------------------->
    <div class="headerBar">
        <div class="leftSide" layout="row">
            <div class="leftMen tipped" ng-click="$root.togLeftMenu()">
                <div class="index-custom-md-tooltip"><font>Menu</font></div>
                <ng-md-icon class="menuIcon" icon="{{$root.headMenu}}" size="30"></ng-md-icon>
            </div>
            <img src="Images/logo.png" class="headIcon" ng-click="toMain()" />
        </div>
    </div>
    <!------------------------------------------------ Left Menu -------------------------------------------------->
    <div class="menuLeft" ng-class="{menuLeftOpen: $root.showFullLeftMenu}">
        <div class="options" layout="column">
            <div class="menuList" ng-repeat="option in menuOptionList">
                <div class="item tipped" ng-class="{itemActive: $root.selectedPage === option.id && $root.showFullLeftMenu}" ng-click="selectDispPage(option.id, 'click')" layout="row">
                    <div class="index-custom-md-tooltip" ng-if="!$root.showFullLeftMenu"><font>{{option.title}}</font></div>
                    <div class="unselected" ng-class="{selected: $root.selectedPage === option.id, unselectedFull: $root.showFullLeftMenu}"></div>
                    <font class="txt fade-in-med" ng-class="{txtActive: $root.selectedPage === option.id}" ng-if="$root.showFullLeftMenu">{{option.title}}</font>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------ Main Page -------------------------------------------------->
    <div id="mainPage" class="mainPage changeUP" page-scroll>
        <div class="mainPageCont" ng-if="$root.curPage === 0">
            <div class="med-overlay">
                <div class="left">
                    <font class="head" ng-show="(actPhase >= 1) && (actPhase <= 3)">Hello There</font>
                    <div class="quoteCont">
                        <!------------------------------------------------ Phase 1 -------------------------------------------------->
                        <div class="phase" ng-show="actPhase === 1 && !hidePhase">
                            <div class="EQN">
                                <table width="100%">
                                    <tr>
                                        <td width="40%" class="ttl txt">My name is:</td>
                                        <td width="60%" class="data txt">Frederick John Chaffey</td>
                                    </tr>
                                    <tr><td style="height: 20px"></td></tr>
                                    <tr>
                                        <td width="40%" class="ttl txt">I reside at:</td>
                                        <td width="60%" class="data txt">21 Pendoring Ave, Proteapark, Rustenburg</td>
                                    </tr>
                                    <tr><td style="height: 20px"></td></tr>
                                    <tr>
                                        <td width="40%" class="ttl txt">You can call me on:</td>
                                        <td width="60%" class="data txt">0826174057</td>
                                    </tr>
                                    <tr><td style="height: 20px"></td></tr>
                                    <tr>
                                        <td width="40%" class="ttl txt">Or even Email me at:</td>
                                        <td width="60%" class="data txt">chaffey007@gmail.com</td>
                                    </tr>
                                    <tr><td style="height: 20px"></td></tr>
                                    <tr>
                                        <td align="center" colspan="2" width="40%" class="ttl txt" style="font-size: 18px"><br>This is my online CV.<br>Feel free to peruse and contact me with any queries.</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="EQN">

                            </div>

                            <!--<div class="switch" layout="column" ng-click="swapLocations()">
                                <font class="txt">Switch</font>
                                <ng-md-icon class="icon f" ng-class="{fAct: swapLocs}" icon="arrow_forward" size="15"></ng-md-icon>
                                <ng-md-icon class="icon b" ng-class="{bAct: swapLocs}" icon="arrow_back" size="15"></ng-md-icon>
                            </div>-->
                        </div>
                    </div>
                </div>

                <!------------------------------------------------ Mini Login -------------------------------------------------->
                <div class="containerMain">
                    <form id="loginForm" name="form" ng-show="$root.mainTabDisp === 'miniLogin'" ng-submit="miniLogin()" role="form" class="quote">
                        <font class="head">Me:</font>
                        <div class="imgHead">
                            <img src="Images/me.jpg" class="headIcon" style="width: auto;height: auto;max-width: 350px;border-radius: 200px" />
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!------------------------------------------------ About Me -------------------------------------------------->
        <div class="mainPageCont" ng-if="$root.curPage === 1">
            <div class="aboutUs" ng-init="resetPageCounters()">
                <div class="overlay">
                    <div class="left" layout="column">
                        <div class="head"><font class="txt">More About Me</font></div>
                        <div class="info">
                            <font class="txt">{{AboutUsInfo}}</font>
                        </div>
                    </div>
                    <div class="right" layout="column">
                        <div class="row top">
                            <div class="block one" layout="row">
                                <font class="count">{{aboutOne}}</font>
                                <font class="plus">+</font>
                                <font class="txt">Hours Spent Developing Software</font>
                                <md-icon md-svg-src="Images/SVG/Customer.svg" class="ico"></md-icon>
                            </div>
                        </div>
                        <div class="row mid" layout="row">
                            <div class="block two" layout="column">
                                <font class="count">{{aboutTwo}} +</font>
                                <md-icon md-svg-src="Images/SVG/Global Countries.svg" class="ico"></md-icon>
                                <font class="txt">Different Projects</font>
                            </div>

                            <div layout="column" style="width: calc(50% - 5px)">
                                <div class="block three" layout="column">
                                    <font class="count">{{aboutThree}} +</font>
                                    <md-icon md-svg-src="Images/SVG/airplane-shape.svg" class="ico"></md-icon>
                                    <font class="txt">Different Coding Languages</font>
                                </div>
                                <div class="block four" layout="column">
                                    <font class="count">{{aboutFour}} +</font>
                                    <md-icon md-svg-src="Images/SVG/boat.svg" class="ico"></md-icon>
                                    <font class="txt">Different Platforms</font>
                                </div>
                            </div>
                        </div>
                        <div class="row bot" layout="row">
                            <div class="block five" layout="column">
                                <font class="count">{{aboutFive}} %</font>
                                <md-icon md-svg-src="Images/SVG/boxCircle.svg" class="ico"></md-icon>
                                <font class="txt">Satisfaction</font>
                            </div>
                            <div class="block five" layout="column">
                                <font class="count">{{aboutSix}} %</font>
                                <md-icon md-svg-src="Images/SVG/handshake.svg" class="ico"></md-icon>
                                <font class="txt">Work Ethic</font>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------ Experience Overview -------------------------------------------------->
        <div class="mainPageCont" ng-if="$root.curPage === 2">
            <div class="transpServ">
                <div class="overlay">
                    <div class="contain" layout="column">
                        <div class="top" layout="row">
                            <div class="big" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{headOne}}</font>
                                    <md-icon md-svg-src="Images/SVG/international-travel-and-tourism.svg" class="divIco" ng-click=""></md-icon>
                                </div>
                                <font class="divTxt">{{textOne}}</font>
                                <div class="listing" layout="column">
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Back End</div>
                                        <div class="nme">PHP</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">HTML5</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">AngularJS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">CSS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">SCSS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Database</div>
                                        <div class="nme">MySQL</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Mobile</div>
                                        <div class="nme">Android</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Mobile</div>
                                        <div class="nme">IOS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Other</div>
                                        <div class="nme">Multiple</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sml" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{headFive}}</font>
                                    <md-icon md-svg-src="Images/SVG/international-delivery.svg" class="divIco"></md-icon>
                                </div>
                                <font class="divTxt">{{textFive}}</font>
                                <div layout="row" style="margin-top: 15px">
                                    <div class="listingNo" layout="column">
                                        <div class="itemise" layout="row">
                                            <div class="ar">> Python 2</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> Python 3</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> PHP</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> MySql</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> HTML5</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> CSS</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> Android</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> IOS</div>
                                        </div>
                                    </div>
                                    <div class="listingNo" layout="column">
                                        <div class="itemise" layout="row">
                                            <div class="ar">> XML</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> JQuery</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> JavaScript</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> Linux</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> IPL</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> AWS</div>
                                        </div>
                                        <div class="itemise" layout="row">
                                            <div class="ar">> etc...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bot" layout="row">
                            <div class="sml" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{headTwo}}</font>
                                    <md-icon md-svg-src="Images/SVG/airplane-shape.svg" class="divIco" ></md-icon>
                                </div>
                                <font class="divTxt">{{textTwo}}</font>
                                <div class="listing" layout="column">
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Platform</div>
                                        <div class="nme">Microsoft Windows</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Language</div>
                                        <div class="nme">C#</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Database (Initial)</div>
                                        <div class="nme">Microsoft Access</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Database (Update)</div>
                                        <div class="nme">MySql</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">API</div>
                                        <div class="nme">ABSA</div>
                                    </div>
                                </div>
                            </div>
                            <div class="smlOne" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{headThree}}</font>
                                    <md-icon md-svg-src="Images/SVG/boat.svg" class="divIco"></md-icon>
                                </div>
                                <font class="divTxt">{{textThree}}</font>
                                <div class="listing" layout="column">
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Back End</div>
                                        <div class="nme">PHP</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">HTML5</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">AngularJS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">CSS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">SCSS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Database</div>
                                        <div class="nme">MySQL</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Mobile</div>
                                        <div class="nme">Android</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Mobile</div>
                                        <div class="nme">IOS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Other</div>
                                        <div class="nme">Multiple</div>
                                    </div>
                                </div>
                            </div>
                            <div class="smlOne" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{headFour}}</font>
                                    <md-icon md-svg-src="Images/SVG/fast-delivery.svg" class="divIco" ></md-icon>
                                </div>
                                <font class="divTxt">{{textFour}}</font>
                                <div class="listing" layout="column">
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Back End</div>
                                        <div class="nme">PHP</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">HTML5</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">AngularJS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">CSS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Front End</div>
                                        <div class="nme">SCSS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Database</div>
                                        <div class="nme">MySQL</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Mobile</div>
                                        <div class="nme">Android</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Mobile</div>
                                        <div class="nme">IOS</div>
                                    </div>
                                    <div class="itemise" layout="row">
                                        <div class="ar">></div>
                                        <div class="srv">Other</div>
                                        <div class="nme">Multiple</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------ Goals Overview -------------------------------------------------->
        <div class="mainPageCont" ng-if="$root.curPage === 3">
            <div class="techOver">
                <div class="overlay">
                    <div class="contain" layout="row">
                        <div class="div" layout="column">
                            <font class="head">{{techheadOne}}</font>
                            <div class="img one"></div>
                            <font class="ttl">{{techTtlOne}}</font>
                            <font class="txt">{{techTxtOne}}</font>
                        </div>
                        <div class="div" layout="column">
                            <font class="head">{{techheadTwo}}</font>
                            <div class="img two"></div>
                            <font class="ttl">{{techTtlTwo}}</font>
                            <font class="txt">{{techTxtTwo}}</font>
                        </div>
                        <div class="div" layout="column">
                            <font class="head">{{techheadThree}}</font>
                            <div class="img three"></div>
                            <font class="ttl">{{techTtlThree}}</font>
                            <font class="txt">{{techTxtThree}}</font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------ Skills Overview -------------------------------------------------->
        <div class="mainPageCont" ng-if="$root.curPage === 4">
            <div class="solutOv">
                <div class="overlay">
                    <div class="contain" layout="column">
                        <div class="top" layout="row">
                            <div class="sml" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{solheadOne}}</font>
                                    <md-icon md-svg-src="Images/SVG/Delivered ICON.svg" class="divIco" ng-click=""></md-icon>
                                </div>
                                <font class="divTxt">{{soltextOne}}</font>
                            </div>
                            <div class="smlOne" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{solheadTwo}}</font>
                                    <md-icon md-svg-src="Images/SVG/handshake.svg" class="divIco" ng-click=""></md-icon>
                                </div>
                                <font class="divTxt">{{soltextTwo}}</font>
                            </div>
                            <div class="smlOne" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{solheadThree}}</font>
                                    <md-icon md-svg-src="Images/SVG/box.svg" class="divIco" ng-click=""></md-icon>
                                </div>
                                <font class="divTxt">{{soltextThree}}</font>
                            </div>
                        </div>
                        <div class="bot" layout="row">
                            <div class="sml" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{solheadFour}}</font>
                                    <md-icon md-svg-src="Images/SVG/world.svg" class="divIco" ng-click=""></md-icon>
                                </div>
                                <font class="divTxt">{{soltextFour}}</font>
                            </div>
                            <div class="smlOne" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{solheadFive}}</font>
                                    <md-icon md-svg-src="Images/SVG/shopping-cart.svg" class="divIco" ng-click=""></md-icon>
                                </div>
                                <font class="divTxt">{{soltextFive}}</font>
                            </div>
                            <div class="smlOne" layout="column">
                                <div class="divTop">
                                    <font class="divHead">{{solheadSix}}</font>
                                    <md-icon md-svg-src="Images/SVG/arrow.svg" class="divIco" ng-click=""></md-icon>
                                </div>
                                <font class="divTxt">{{soltextSix}}</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------ API -------------------------------------------------->
        <div class="mainPageCont" ng-if="$root.curPage === 5">
            <div class="overlayEnq">
                <div class="contactForm" layout="column" >
                    <font class="headerTxt">My Public GitHub</font>
                    <div class="desc">
                        <font class="descript">Here i use the GitHub API to display the online repository for </font>
                        <font class="descriptSpec">chaffey007</font>
                        <font class="descript">, my online account.</font>
                    </div>
                    <div layout="column">
                        <div ng-show="userNotFound">
                            <h2 style="font-size: 30px; color: rgba(100,100,100,0.9);text-align: center;margin-top: 100px">No User Info Found</h2>
                        </div>
                        <div ng-show="Gitloaded">
                            <h2 style="font-size: 30px; color: rgba(100,100,100,0.9);text-align: center;"> {{git_user.name}}
                                <span class="smallname">(@<a href="{{git_user.html_url}}" target="_blank"> {{git_user.login}} </a>)</span>
                            </h2>

                            <div class="ghcontent desc">
                                <div class="avi">
                                    <a href="{{ git_user.html_url }}" target="_blank">
                                        <img src="{{ git_user.avatar_url }}" width="200" height="200" alt="{{ git_user.login }}" style="position:relative;border-radius: 200px;left: calc(50% - 100px)"></a>
                                </div>
                                <div style="position: absolute; top: 0">
                                    <font class="descript">Followers: </font>
                                    <font class="descriptSpec">{{ git_user.followers }}</font>
                                    <br>
                                    <font class="descript">Following: </font>
                                    <font class="descriptSpec">{{ git_user.following }}</font>
                                    <br>
                                    <font class="descript">Repos: </font>
                                    <font class="descriptSpec">{{ git_user.public_repos }}</font>
                                </div>
                            </div>

                            <div class="repolist clearfix" style="position: absolute; bottom: 10px">
                                <font ng-hide="reposFound"  class="headerTxt">No repos!</font>

                                <div ng-show="reposFound">
                                    <font  class="headerTxt">Repos List:</font>
                                    <ul ng-repeat="repo in repos">
                                        <li><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!------------------------------------------------ Footer -------------------------------------------------->
        <div class="footer" ng-class="{fullFooter: $root.curPage === 6}">
            <div id="smallFoot" ng-if="$root.curPage !== 6">
                <div class="border"></div>
                <div class="txt"  ng-if="$root.dispCurPageTitle">{{menuOptionList[$root.curPage].title}}</div>
            </div>
            <div id="bigFoot" ng-if="$root.curPage === 6">
                <div class="content">
                    <div class="top" layout="row">
                        <div class="left" layout="row">
                            <div class="list bord" layout="column" style="width: 35%">
                                <div class="item" layout="row">
                                    <font class="txts">Tel:</font>
                                </div>
                                <div class="item" layout="row">
                                    <font class="txts">Email:</font>
                                </div>
                                <div class="item" layout="row">
                                    <font class="txts">LinkedIn:</font>
                                </div>
                            </div>
                            <div class="list" layout="column" style="width: 65%">
                                <div class="item">
                                    <font class="mail">0826174057</font>
                                </div>
                                <div class="item">
                                    <font class="mail">chaffey007@gmail.com</font>
                                </div>
                                <div class="item">
                                    <font class="mail">https://www.linkedin.com/in/fred-chaffey-516b82138/</font>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="toTop" ng-click="selectDispPage(0)">
                                <ng-md-icon class="icon" icon="keyboard_arrow_up" size="40"></ng-md-icon>
                                <font class="toptxt">Back To Top</font>
                            </div>
                            <a href="cv.pdf" target="_blank" title="Download PDF Version"><img src="Images/logo.png" alt="Download PDF" border="0" class="footImg" style="top: 20%"/></a>


                        </div>

                    </div>
                    <div class="bot">
                        <font class="ttl">Created By FJ Chaffey.</font>
                        <div class="right" layout="row">
                            <font class="btn" ng-click="showTerms = true">Website Terms Of Use</font>
                        </div>
                    </div>
                    <div class="terms" ng-show="showTerms === true">
                        <font class="close" ng-click="showTerms = false">Close</font>
                        <div class="cont">
                            <font class="info">{{terms}}</font>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>